# folder
node_modules/
**/__pycache__/
template/user/
python/test/
user/create/
moddable/
Espressif/
.node-red/
voicevox_core/
.venv/
pyenv/
voicevox/create/

# file
package-lock.json
.bash_history
*.dll
*.log
